.staff-navigation-bar {
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #B19CD9;
  padding: 10px 20px;
  color: rgb(67, 24, 116);
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.staff-nav-logo {
  display: flex;
  align-items: center;
}

.staff-logo {
  height: 45px;
  margin-right: 5px;
}

.staff-nav-titles {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.staff-nav-title {
  font-family: inherit;
  font-weight: bolder;
  color: rgb(86, 28, 109);
}

.main-title {
  font-size: 10px;
}

.sub-title {
  font-size: 10px;
}

.staff-nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.staff-nav-menu li {
  display: inline;
}

.staff-nav-menu li a {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
}

.staff-nav-menu li a:hover {
  color: rgb(67, 24, 116);
}

.staff-nav-menu li a.staff-active {
  color: rgb(67, 24, 116);
}
